<section class="content">
    <div class="col-12" style="padding: 0px; margin: 0px;">
        <div class="box box-solid text-muted border-bottom-0 card text-muted border-bottom-0"
            style="padding: 0px; margin: 0px; background-color: white;">
            <div class="box-header">
              <div class="row">
                <i class="fa fa-shopping-cart"
                        style="font-size:20px; padding-left: 25px; padding-right: 0px; padding-top: 10px;"></i>
                    <div class="col-10" style="padding-left: 10px;">
                      <h5 class="box-title" style="padding-right: 0px; padding-top: 8px;">Carrinho</h5>
                    </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div>
                    <p class="text-center">
                        Seu carrinho está vazio!
                    </p>
                </div>
                <!--<div class="table-responsive" *ngIf="items().length">
          <table class="table">
            <tbody>
            <tr *ngFor="let item of items()" [@row]="rowState">
              <th>({{item.quantity}}x) {{item.menuItem.name}}</th>
              <td class="text-right">{{item.value() | currency: 'BRL': true}}</td>
              <td class="text-right">
                <a (click)="removeItem(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
              </td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="text-right">{{total() | currency: 'BRL': true}}</td>
            </tr>
          </tbody></table>
        </div> -->
            </div>
            <!-- <div class="box-footer" *ngIf="items().length">
      <div class="pull-right">
        <button (click)="clear()" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
        <a [routerLink]="['/order']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
      </div>
    </div> -->
        </div>
    </div>
</section>