<section class="content">
    <div class="col-12" style="padding: 0px; margin: 0px;">
        <div class="align-items-stretch flex-column" style="margin-bottom: 15px">
            <div class="card-header text-muted card text-muted border-bottom-0" [@menuItemAppeared]="menuItemState"
                style="padding-left: 5px; padding-right: 20px; background-color: white;">
                <div class="card-body pt-0" style="padding:0px;">
                    <div class="row">
                        <div class="col-3 text-center" style="padding-right: 0px;">
                            <img [src]="menuItem?.imagePath" alt="food-avatar" class="img-fluid" style="width: 130px; height: 115px;">
                        </div>
                        <div class="col-6">
                            <h4>
                                <span class="place-info-box-text">{{menuItem?.name}}</span><br>
                            </h4>
                            <span class="place-info-box-detail">{{menuItem?.description}}</span>
                            <div class="row" style="padding-top: 15px;">
                                <div class="col-4">
                                    <span class="place-info-box-price">{{menuItem?.price | currency: 'BRL':
                                        true}}</span>
                                </div>
                                <div class="col-6">
                                    <a (click)="emitAddEvent()" class="btnAddItemMenu"><i class="fa fa-plus-circle"></i> Adicionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>