<section class="content">
    <div class="col-12" style="padding-right: 0px; padding-left: 0px;">
        <div class="row">
            <div class="col-8">
                <ma-menu-item *ngFor="let item of menu | async"[menuItem]="item"
                (add)="shoppingCart.addItem($event)"></ma-menu-item>     
            </div>
            <div class="col-4" style="padding-right: 15px; padding-left: 0px;">
                <ma-shopping-cart #shoppingCart></ma-shopping-cart> 
            </div>
        </div>
    </div>
</section>
